/* 장부 리스트 섹션 */
.mypage-section {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative; /* 새로고침 버튼을 이 영역에 고정 */
    margin-bottom: 50px;
}

.mypage-buttons {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 방향 가운데 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    margin-top: 10px; /* 버튼 그룹과 위 요소 간격 추가 (필요 시) */
}

.mypage-buttons button {
    align-items: center;
    padding: 10px 20px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* 버튼 간 간격 */
}