/* 헤더 */
header {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 0px auto; /* 중앙 정렬 */
    margin-bottom: 0px;
    padding-top:0;
}

.department-info {
    padding-top:0;
    font-size: 14px;
    color: #ADB5BD;
}

.date-document {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
}

.document-number {
    font-size: 14px;
    color: #ADB5BD;
}

/* 사용 내역 섹션 */
.usage-section {
    width: 100%;
    max-width: 800px;
    background-color: #FFFFFF;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.usage-section h3 {
    font-size: 16px;
    font-weight: bold;
    color: #495057;
    margin-top: 15px;
}

.usage-purpose, .usage-amount,.usage-descript {
    color: #343a40;
    padding: 10px;
    background-color: #F1F3F5;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 14px;
}

/* 영수증 상세 내역 */
.receipt-detail {
    margin-top: 5px;
    padding: 10px;
    background-color: #F1F3F5;
    border-radius: 8px;
}

/* 승인/반려 버튼 섹션 */
.approval-buttons {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.approve-btn, .reject-btn {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.approve-btn {
    background-color: #ff7e5f; /* 녹색 - 승인 */
}

.reject-btn {
    background-color: #feb47b; /* 빨간색 - 반려 */
}

.approve-btn:hover {
    background-color: #ff552a;
}

.reject-btn:hover {
    background-color: #ff7f1d;
}


/* 반응형 디자인 */
@media screen and (max-width: 600px) {
        /* 전체 폰트 크기 감소 */
        body {
            font-size: 14px;
        }
    
        .department-info, .document-number, .transaction-date, .receipt-date {
            font-size: 12px;
        }
    
        .page-title, .date {
            font-size: 20px;
        }
    
        .usage-section h3, .receipt-store {
            font-size: 14px;
        }
    
        .usage-purpose, .usage-amount, .transaction-title, .transaction-amount {
            font-size: 16px;
        }
    
        .menu-btn {
            font-size: 10px;
        }
        .approve-btn, .reject-btn {
            font-size: 14px;
            padding: 8px;
        }
   
}