/* 반응형 디자인 - 모바일 화면에서만 적용 */
@media screen and (max-width: 600px) {
    .account-book-item {
        background-color: white;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .account-book-item h3 {
        font-size: 18px;
        color: #495057;
        margin: 0 0 10px 0;
        font-weight: bold;
    }

    .account-book-item p {
        margin: 5px 0;
        font-size: 14px;
        color: #868E96;
    }

    .account-book-item .detail-btn {
        font-size: 14px;
        color: #FFFFFF;
        background-color: #868e96;
        border: none;
        border-radius: 4px;
        padding: 8px 12px;
        cursor: pointer;
        align-self: flex-end;
        text-align: center;
    }

    .account-book-item .detail-btn:hover {
        background-color: #495057;
    }
}
