/* 승인 대기 중 장부 목록 섹션 */
.pending-approval-section {
    background-color: #F1F3F5;
    padding: 20px;
    border-radius: 12px;
}

.approval-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.approval-header strong {
    font-size: 18px;
    color: #343a40;
}

.see-all {
    font-size: 14px;
    color: #868e96;
    cursor: pointer;
}

.approval-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.approval-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #E9ECEF;
}

.approval-item:last-child {
    border-bottom: none;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #ADB5BD;
    border-radius: 50%;
    margin-right: 10px;
}

.approval-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.approval-title {
    font-size: 16px;
    color: #495057;
}

.approval-date {
    font-size: 14px;
    color: #ADB5BD;
}

.approval-doc-number {
    font-size: 14px;
    color: #868e96;
}

/*모달창*/
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.modal-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.link-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.link-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px 0 0 8px; /* 왼쪽 둥근 모서리 */
    outline: none;
    font-size: 16px;
    background-color: #f1f3f5;
}

.copy-btn {
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 0 8px 8px 0; /* 오른쪽 둥근 모서리 */
    background-color: #4c6ef5;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-left: none; /* 왼쪽 테두리 제거 */
}

.copy-btn:hover {
    background-color: #364fc7;
}


